@font-face {
    font-family: "Hanson";
    src: url(Fonts/Hanson-Bold.otf);
}

@font-face {
    font-family: "Comfortaa";
    src: url(Fonts/Comfortaa-Regular.ttf);
}

body{
    padding: 50px 10%;
    background-color: #3E9FBA;
}

#main{
    color: white;
    display: grid;
    grid-template-columns: .25fr 1fr;
    column-gap: 20px;
}

#menu{
    display: grid;
    grid-template-rows: auto;
    font-family: 'Comfortaa', sans-serif;
    font-size: 24px;
}

.menu-item{
    margin-top: 20px;
}

#air-logo{
    font-family: 'Hanson', sans-serif;
    font-size: 40px;
}