.frame{
    /* max-height: 80vh; */
    max-width: 75%;
}

#strip{
    text-align: center;
}

.frame-box{
    display: inline-block;
    margin-bottom: 20vh;
    
}

#main{
    text-align: center;
}

#logo{
    width: 70%;
}

#logo-nav{
    max-width: 400px;
}

#navbar{
    max-width: 100%;
    display: inline-block;
    /* background-color: blue; */
    margin: 50px 0px 100px 0px;
    line-height: 50px;
    vertical-align: middle;
}

#menu{
    display: inline-block;
    height:100%;
}

#menu a {
    color: #6891db;
    padding: 0px 20px;
    font-size: 48px;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

#page{
    text-align: center;
}